
<div class="main">
  <div id="showcase">
    This is where images and events will be showcased
  </div>

  <div class="buttons">

    <%= link_to 'events' do %>
      <div class="launcher">
        Events
      </div>
    <% end %>

    <%= link_to 'teachers' do %>
      <div class="launcher">
        Teachers
      </div>
    <% end %>

    <%= link_to 'posts' do %>
      <div class="launcher">
        Forum
      </div>
    <% end %>

  </div>

</div>


