<%= link_to "New Post", "posts/new" %> </br>

<div id="posts">
  <% for post in @posts %>
    <div class="post">
      <div><%= post.user.email %></div>
      <div><%= post.text %></div>
    </div></br>
  <% end %>
</div>
