$primary: #81c784;
$primary-light: #b2fab4;
$primary-dark: #519657;
$secondary: #4dd0e1;
$secondary-light: #88ffff;
$secondary-dark: #009faf;
$error: #c00;

header {
    background-color: $primary-dark;
    display: inline-block;
    margin: 0;
}

.title {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
}

.content {
    flex: 1 0 auto;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: $primary;
    display: flex;
}

footer {
    background-color: $primary-light;
    margin: 0;
    bottom: 0;
    width: 100%;
}

footer h4 {
    padding-left: 20px;
}

a {
    text-decoration: none;
}

#showcase {
    background-color: $secondary-dark;
    height: 100px;
    margin: auto;
}

.main {
    width: 95%;
    margin: auto;
}

.gradient {
    background: linear-gradient(to bottom, $primary-dark 1%, #ffffff 100%);
}

.communist-flag {
    height: 50px;
    width: auto;
    display: inline-block;
    margin: auto auto auto 20px;
    position: relative;
    top: 15px;
}

.sign-in {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 32px;
}

.error {
    background-color: $error;
    color: white;
    width: fit-content;
}

.launcher {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: $secondary-light;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}


.buttons {
    display: flex;
    justify-content: center;
}

#posts {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.post {
    background-color: $secondary-dark;
    overflow-wrap: break-word;
    padding: 0 20px 0 20px;
}