header {
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    margin: 0;
}

.title {
    color: black;
    text-decoration: none
}

body {
    margin: 0;

}

#showcase {
    background-color: gray;
    width: 95%;
    height: 100px;
    margin: auto;
}

.display-block {
    display: block;
    width: 100px;
    height: 100px;
}

.gradient {
    background: linear-gradient(to bottom, #29216c 1%, #ffffff 100%);
}

.communist-flag {
    height: 50px;
    width: auto;
    display: block;
   margin: auto auto auto 20px;

}

.event-home {
  background-color: lime;


}

.inline-block {
  display: inline-block;
}

.center {
  margin: auto;
}